.full-screen {
    width: 100%;
}

.button-toolbar {
    border-bottom: 2px solid #673ab7;
    background: transparent;
}

mat-sidenav {
    padding: 20px 0;
}

.apply-filter-button {
    margin: 20px auto;
    display: list-item;
}

mat-icon {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        color: #673ab7;
        transform: scale(1.1);
    }
}

.mat-column-select {
    text-align: center;
}


.mat-column-view {
    width: 100px;
    text-align: center;
}

.mat-column-settings {
    width: 100px;
}

.filter-counter {
    color: #f44336;
    margin-left: 5px;
}

.button-toolbar span {
    vertical-align: top;
    display: inline-block;
}

.search-input-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    div.input-label {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
    }
    img.search-icon {
      position: absolute;
      width: 25px;
      height: 25px;
      margin-left: 15px;
      padding-left: 10px;
    }
    input.search-input {
      width: 280px;
      height: 40px;
      margin-right: 10px;
      padding-left: 50px;
      border: 1px solid gray;
      background: white;
      border-radius: 5px;
      font-size: 14px;
    }
  }
