
<mat-grid-list 
  cols="10" 
  rowHeight="500px" 
  gutterSize="20px"
  *ngIf="(destination$ | async) as destination">

  <!-- Image Tile -->
  <mat-grid-tile
      class="image-tile"
      colspan="4">
      <img [src]="destination.image" [alt]="destination.name" />
      
      <div class="destination-stars">
        <mat-icon 
          *ngFor="let item of destination.stars | iterateNumber">
          star
        </mat-icon>
        <mat-icon 
          *ngFor="let item of (5 - destination.stars) | iterateNumber">
          star_border
        </mat-icon>
      </div>
  </mat-grid-tile>

  <!-- Info Tile -->
  <mat-grid-tile
      colspan="6">
      <mat-toolbar>
          <mat-toolbar-row>
              <h1>{{ destination.name }}</h1>
              <div class="toolbar-spacer"></div>
              <flag-icon 
                class="destination-flag" 
                [country]="destination.flag">
              </flag-icon>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <h2>{{ destination.region }}, {{ destination.country }}</h2>
          </mat-toolbar-row>
      </mat-toolbar>
      <h3>
        <mat-icon>info</mat-icon>
        {{ destination.funFacts }}
      </h3>
      <p><b>Description:</b> <br>{{ destination.description }}</p>

      <button mat-stroked-button color="primary">{{destination.category}}</button>
      <button mat-stroked-button color="warn">Explore {{destination.country}}</button>
      
  </mat-grid-tile>

