<mat-sidenav-container>
	
	<mat-sidenav class="main-sidebar" #sidenav>
		<mat-accordion>

			<app-table-filter
       			 *ngFor="let item of tableFilters"
				[control]="item"
        		[parentForm]="filterForm"
        		[selected]="chosenFilter"
				(itemsChange)="onItemsChange($event)">
			</app-table-filter>

			<button
				class="apply-filter-button"
				(click)="filterTable(); sidenav.toggle()"
				color="primary"
				mat-flat-button>
				Apply Filter
			</button>

		</mat-accordion>
	</mat-sidenav>

  <!-- Page Content -->
	<mat-sidenav-content>
		<section>

			<!-- Tolbar -->
			<mat-toolbar class="button-toolbar">

				<button mat-raised-button (click)="sidenav.toggle()">
					<span>Filter</span>
					<span class="filter-counter" *ngIf="filteredItems">({{filteredItems}})</span>
				</button>

				<span class="toolbar-spacer"></span>
				

				<div class="search-input-wrapper">
					<div class="input-label">
						<img
							src="/assets/images/logos/search.svg"
							class="search-icon">
						<input
							matInput
							(keyup)="applyFilter($event.target.value)"
							class="search-input"
							placeholder="Search"
							autocomplete="off">
					</div>
				</div>

				<button 
					mat-raised-button 
					color="primary" 
					*ngIf="isAdmin" 
					(click)="onDialog()">
					Add new
				</button>

			</mat-toolbar>

			<table
				mat-table
				[dataSource]="dataSource"
				matSort
				(matSortChange)="filterTable()"
        		class="table full-screen">
        
				<!-- Checkbox -->
				<ng-container matColumnDef="select">

					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox
							color="primary"
							(change)="$event ? onMasterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
						>
						</mat-checkbox>
					</th>

					<td mat-cell *matCellDef="let row">
						<mat-checkbox
							color="primary"
							(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
						>
						</mat-checkbox>
					</td>
				</ng-container>

				<!-- Data Columns -->
				<ng-container
					matColumnDef="{{ item }}"
          *ngFor="let item of dataColumns"
          >
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ item | titlecase }}
					</th>

					<td mat-cell *matCellDef="let element">
						<span>{{ returnTableBody(element, item) }} </span>
          </td>
          
				</ng-container>

				<!-- View Column -->
				<ng-container matColumnDef="view">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
					</th>

					<td mat-cell *matCellDef="let element">
            <mat-icon (click)="onVisit(element.id)">remove_red_eye</mat-icon>
          </td>
          
				</ng-container>

				<!-- Settings Column -->
				<ng-container matColumnDef="settings">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
					</th>

					<td mat-cell *matCellDef="let element">
					<mat-icon (click)="onDialog(element.id)">edit</mat-icon>
					<mat-icon (click)="onDeleteRow(element.id)">delete</mat-icon>
				</td>
          
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"
				></tr>
			</table>

			<mat-paginator
				#paginator
				(page)="filterTable()"
				[pageSize]="5"
				[pageSizeOptions]="[5, 10, 15, 20]"
			>
			</mat-paginator>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>
