<section>

  <mat-toolbar>
    <button mat-raised-button>Filer</button>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button>Export</button>
  </mat-toolbar>

  <table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="getAll()"
  class="table full-screen">
  
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
        color="primary"
          (change)="$event ? onMasterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Data Columns -->
    <ng-container
      matColumnDef="{{ item }}"
      *ngFor="let item of displayedColumns.slice(1)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ item | titlecase }}
      </th>
      
      <td mat-cell *matCellDef="let element">
        <span>{{ returnTableBody(element, item) }}	</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>

  <mat-paginator
    #paginator
    (page)="getAll()"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
    
</section>
