.full-screen {
    width: 100%;
}

.button-toolbar {
    border-bottom: 2px solid #673ab7;
    background: transparent;
}

mat-sidenav {
    padding: 20px 0;
}

.apply-filter-button {
    margin: 20px auto;
    display: list-item;
}

mat-icon {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        color: #673ab7;
        transform: scale(1.1);
    }
}

.mat-column-settings {
    width: 100px;
}

.filter-counter {
    color: red;
    margin-left: 5px;
}

.button-toolbar span {
    vertical-align: top;
    display: inline-block;
}