<mat-toolbar>

  <button 
    mat-button 
    class="logo"
    (click)="onNavigate('/')">
    Home
  </button>

  <span class="toolbar-spacer"></span>

  <button 
    mat-raised-button 
    color="primary"
    (click)="onNavigate('/destinations')"> 
    Explore destinations
  </button>

  <button 
    mat-raised-button 
    color="warn"
    *ngIf="!isLogged"
    (click)="onLogin()"> 
    Login as Admin
  </button>

  <button 
    mat-raised-button 
    color="warn"
    *ngIf="isLogged"
    (click)="onLogout()"> 
    Logout
  </button>

</mat-toolbar>
